.navbar-brand {
    background-image: url(../images/nav/nav3.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
}

.navbar-nav .nav-item:hover {
    background-color: rgba(83, 87, 94, 0.4);
}